<p id="notice"><%= notice %></p>
<table>
  <th> 
    <td>Title</td>
    <td>Release Date</td>
    <td>Genre</td>
    <td>Rating</td>
    <td>Artist Id</td>
  </th>
  <tr>
    <td><%= @song.title %></td>
    <td><%= @song.released_on %></td>
    <td><%= @song.genre %></td>
    <td><%= @song.rating.to_i %></td>
    <td><%= @song.artist_id %></td>
    <td><%= link_to 'Edit', edit_song_path(@song) %></td>
    <td><%= link_to 'Back', songs_path %></td>
  </tr>
</table>